.feature {
	margin-left: 760px;
	background-color: #e6e600;
}

#navigator {
	width: 120px;
	float: left;
/*	background-color: #cccc00;*/
	background-color: white;
}

#search-input {
    margin-left: 20%;
    margin-top: 2%;
}

#playlist_page, #setting_page, #queue_page {
    display: none;
}

#player {
	width: 640px;
	float: left;
	background-color: #b3b300;
}

#video {
	margin-top: 20px;
	text-align: center;
}

#feature, #navigator, #player {
	height: 700px;
}

#result {
	display: none;
	height: 651px;
	overflow: scroll;
}

/*#video-detail {
	float: left;
}
*/
.tab-style {
	width: 150px;
	height: 42px;
	background-color: #ffff00;
}

.position-list-in-button {
	margin-top: 1%;
}

.navigator-icons {
	font-size: 15px;
}

.navigator-class {
	margin-top: 5%;
}

.navigator-button {
	border: none;
}

.hide-item {
	display: none;
}

.view-item {
	display: block;
	height: 120px;
	margin-left: 1%;
}

.icon-in-button {
	margin-top: 2%;
}

.dropdown-menu {
	width: 162px;
}

.new-playlist {
	margin-top: 3%;
	margin-left: 3%;
	margin-bottom: 3%;
}

.playlist, .video {
	height: 70px;
	background-color: #e8e8b5;
	font-size: 20px;
	padding-top: 6%;
}

.playlist .icon-chevron-right {
	padding-top: 1.6%;
}

.player_controls {
    margin-left: 20%;
    margin-right: 10%;
    height: 50px;
}

.queue_list {
    overflow: scroll;
    height: 651px;
}

#play, #previous, #next, #shuffle, #repeat {
    margin-top: 3%;
    font-size: 20px;
}

.repeat-badge {
    display: none;
}
