{% extends "base.html" %}

{% block title %}
	Vlists - experience the difference
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="/static/js/vlists.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
	<script type="text/javascript" src="/static/js/notify-osd.js"></script>
{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="/static/css/container.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/static/css/notify-osd.css" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block content %}
	<div id="player">
		<!-- hardcoded for the moment -->
		<div id="video">
			<iframe id="video-frame" width="560" height="315" src="http://www.youtube.com/embed/gSy4HeDjPvs?autoplay=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	
	<div id="navigator" class="tabbable navigator-class">
		<ul class="nav nav-pills nav-stacked">
		  <li>
			<button id="search" class="btn btn-large navigator-button navigator-icons">
				<i class="icon-search icon-large"></i>
			    search
			</button>
		  </li>
		  <li>
			<button id="playlist" class="btn btn-large navigator-button navigator-icons">
			    <i class="icon-list icon-large"></i> 
				playlists
			</button>
		  </li>
		  <li>
			<button id="settings" class="btn btn-large navigator-button navigator-icons">
			  	<i class="icon-cog icon-large"></i>
				settings				
			</button>
		  </li>		
		</ul>
	</div>
	
	<div id="feature" class="feature">
		<!--div id="alerts"></div-->
		<!--div id="feature" class="feature">
		</div-->
		I will hold all app related features
	</div>
{% endblock %}