{% extends "base.html" %}

{% block title %}
	Vlists - experience the difference
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="/static/js/vlists.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
	<script type="text/javascript" src="/static/js/notify-osd.js"></script>
{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="/static/css/container.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}

{% block content %}
	<div id="player">
		<!-- hardcoded for the moment -->
		<!--div id="video">
			<iframe class="youtube-player" id="video-frame" width="560" height="315" src="http://www.youtube.com/embed/gSy4HeDjPvs?autoplay=0" frameborder="0" allowfullscreen></iframe>
		</div-->
	</div>

	<div id="navigator" class="tabbable navigator-class">
		<ul class="nav nav-pills nav-stacked">
		  <li>
			<button id="search" class="btn btn-large navigator-button navigator-icons">
				<i class="icon-search icon-large"></i>
			    search
			</button>
		  </li>
		  <li>
			<button id="playlist" class="btn btn-large navigator-button navigator-icons">
			    <i class="icon-list icon-large"></i>
				playlists
			</button>
		  </li>
		  <li>
			<button id="settings" class="btn btn-large navigator-button navigator-icons">
			  	<i class="icon-cog icon-large"></i>
				settings
			</button>
		  </li>
          <li>
              <button id="queue" class="btn btn-large navigator-button navigator-icons">
                  <i class="icon-cog icon-play-circle"></i>
                  queue
              </button>
          </li>
		</ul>
	</div>

	<div id="feature" class="feature">
        <div id="search_page">
            <div class="search">
                <div class="">
                    <input id="search-input" type="text" class="input-medium search-query span4">
                </div>

                <div id="result">
                    <div class="hide-item item" id="item">
                        <div style="float:left">
                            <img class="thumbnail" src="" alt="" />
                        </div>
                        <div class="video-detail">
                            <p class="title"></p>
                            <p class="views"></p>
                        </div>

                        <div class="btn-toolbar">
                            <div class="btn-group" style="display:inline-block;">
                                <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-list icon-in-button"></i>
                                    Add to playlist
                                    <span class="caret"/>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form class="new-playlist form-inline" onclick="event.stopPropagation()">
                                            <input type="text" class="input-small">
                                            <button class="btn btn-danger create-playlist-button" type="submit" disabled="disabled">New</button>
                                        </form>
                                    </li>
                                    <li class="divider"/>
                                    <li>
                                        <a href="#">here</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-info queue_search_video" onclick="event.preventDefault()">
                                    <i class="icon-paper-clip icon-in-button "></i>
                                    Queue
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="playlist_page">playlists</div>
        <div id="setting_page">settings</div>
        <div id="queue_page">
            <div class="queue">
                <div class="navbar">
                    <div class="navbar-inner player_controls">
                        <ul class="nav ">
                            <li id="previous" class="#"><a href="#"><i class="icon-backward icon-large"></i></a></li>
                            <li id="play"><a href="#"><i class="icon-play icon-large"></i></a></li>
                            <li id="next"><a href="#"><i class="icon-forward icon-large"></i></a></li>
                            <li id="shuffle"><a href="#"><i class="icon-random icon-large"></i></a></li>
                            <li id="repeat">
                                <a href="#">
                                    <i class="icon-refresh icon-large"></i><span class="badge badge-info repeat-badge">1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--button id="previous" class="btn btn-large navigator-button navigator-icons">
                        <i class="icon-backward icon-large"></i>
                    </button>
                    <button id="play" class="btn btn-large navigator-button navigator-icons">
                        <i class="icon-play icon-large"></i>
                    </button>
                    <button id="next" class="btn btn-large navigator-button navigator-icons">
                        <i class="icon-forward icon-large"></i>
                    </button>
                    <button id="shuffle" class="btn btn-large navigator-button navigator-icons">
                        <i class="icon-random icon-large"></i>
                    </button>
                    <button id="repeat" class="btn btn-large navigator-button navigator-icons" style="display: none;">
                        <i class="icon-refresh icon-large"></i>
                    </button-->
                </div>

                <div class="queue_list">
                    <!--p>your localStorage data will be displayed here</p-->
                    <div class="queue_item hide-item">
                        <img class="thumbnail" />
                        <p class="title"></p>
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}
